<fieldset>
    <legend>{{ text_title }}</legend>
    <p><b>{{ text_description }}</b></p>
    <form id="form-gopay">
        {{ payment_fields }}
        <div class="d-inline-block pt-2 pd-2 w-100 text-end">
            <button type="submit" id="button-confirm" class="btn btn-primary">{{ button_confirm }}</button>
        </div>
    </form>
</fieldset>